st.font:           DejaVu Sans Mono for Powerline:size=11
st.alpha:          1

!Color theme (one dark) reference https://github.com/logico-dev/Xresources-themes
st.cursorColor:    #ABB2BF
st.background:     #282C34
st.foreground:     #5C6370
st.highlightColor: #3A3F4B
!Black & gray
st.color0:         #282C34
st.color8:         #5C6370
!Red
st.color1:         #E06C75
st.color9:         #E06C75
!Green
st.color2:         #98C379
st.color10:        #98C379
!Yellow
st.color3:         #D19A66
st.color11:        #D19A66
!Blue
st.color4:         #61AFEF
st.color12:        #61AFEF
!Magent
st.color5:         #C678DD
st.color13:        #C678DD
!Cyan
st.color6:         #56B6C2
st.color14:        #56B6C2
!White
st.color7:         #ABB2BF
st.color15:        #FFFFFF

